<%= form_tag students_path do %>
  <label>Students First Name:</label><br>
  <%= text_field_tag :'student[first_name]' %><br>
  
  <label>Students Last Name:</label><br>
  <%= text_field_tag :'student[last_name]' %><br>
 
  <%= submit_tag "Submit Student" %>
<% end %>